<!doctype html>
<html>
  <head>
    <title>About <%= siteData.siteName %>></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%= siteData.siteName %></h1>
    <p>Organise your favorite songs into different playlists!</p>
    <button onclick="window.location.href='../'">Go Back</button>

  </body>
</html>