<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= siteData.siteName %> Login</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <!-- Redirects the user if they log in sucessfully -->
    <% if (message.length > 0) { %>
    <!-- Check if message exists and is not empty -->
    <h1><%= message %></h1>
        <!-- Auto-redirect after 3 seconds -->
    <meta http-equiv="refresh" content="3;url=/" />
    <% } else { %>
    <!-- Load login form normally and also load any errors if the user isn't logged in -->
    <h1>Login Form</h1>

    <% if (error) { %>
      <div class="error"><%= error %></div>
    <% } %>

    <form action="login" method="POST">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" value="<%= data && data.username ? data.username : '' %>" required />
      <br />
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required />
      <br />
      <button type="submit">Submit</button>
    </form>
    <button onclick="window.location.href='/'">Go Back</button>
    <% } %>
  </body>
</html>
