<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= siteData.siteName %> Playlist</title>
</head>
<body>
  <p>You will be redirected to the login page shortly.</p>
</body>
</html>
