<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial="1.0">
    <title>Success</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%= message %> Redirecting...</h1>
  </body>

  <script>
    setTimeout(() => {
      const previousUrl = '/playlists';
      window.location.href = previousUrl;
    }, 3000); // Redirect after 3 seconds
  </script>
</html>
