body {
  background-color: #0d0d0d; /* Deep black background */
  color: #dcdcdc; /* Soft gray text for readability */
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 24px;
  color: #a29bfe; 
  text-align: center;
}

h2 {
  font-size: 20px;
  color: #6c5ce7; 
}

p, li {
  color: #b3b3b3; 
  font-family: Arial, Helvetica, sans-serif;
}

a:link {
  color: #9b59b6; 
  text-decoration: none;
  padding: 5px;
}

/* visited link */
a:visited {
  color: #8e44ad;
  text-decoration: none;
  padding: 5px;
}

/* mouse over link */
a:hover {
  color: #ffffff; 
  background-color: #9b59b6; 
  text-decoration: none;
  padding: 5px;
}

/* selected link */
a:active {
  color: #5d3f6a;
  text-decoration: none;
  padding: 5px;
}

.error {
  color: #e74c3c;
  font-size: 12px;
}

#go-back-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #6c5ce7;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

#go-back-btn:hover {
  background-color: #5a4dbd;
}

/* Enhanced Search Bar Styling */
form {
  margin-bottom: 20px;
  gap: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #444; 
  background-color: #1a1a1a; 
  color: #dcdcdc; 
  outline: none;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border-color: #6c5ce7; 
}

button[type="submit"] {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #6c5ce7; 
    color: #ffffff; 
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #5a4dbd; 
  }
